<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${dubbo.application.name}" owner="${dubbo.application.owner}"/>
    <dubbo:registry address="${dubbo.registry.address}" timeout="${dubbo.registry.timeout}"
                    subscribe="${dubbo.registry.subscribe}" check="${dubbo.registry.check}"/>
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}"/>

    <dubbo:service interface="com.qccr.exportgateway.facade.ogw.ExportGatewayFacade" ref="exportGatewayFacade"
                   version="1.0.0"/>

    <bean id="exportGatewayFacade" class="com.qccr.exportgateway.biz.facade.ogw.impl.ExportGatewayFacadeImpl"/>
</beans>