<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaojiafeng.exportgateway.dal.mapper.AppMethodMapper" >
  <resultMap id="BaseResultMap" type="com.yaojiafeng.exportgateway.dal.entity.AppMethod" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="method_id" property="methodId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, app_id, method_id, status, create_time, update_time, create_person, update_person
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_method
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_method
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.yaojiafeng.exportgateway.dal.entity.AppMethod" useGeneratedKeys="true" keyProperty="id" >
    insert into app_method
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        app_id,
      </if>
      <if test="methodId != null" >
        method_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="methodId != null" >
        #{methodId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from app_method
  </select>

  <select id="getAppMethodList" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"/>
    from app_method
    where status = #{status,jdbcType=TINYINT}
    <if test="appId != null" >
      and app_id = #{appId,jdbcType=INTEGER}
    </if>
    <include refid="paginationSql"/>
  </select>

  <sql id="paginationSql">
    <if test="page != null">
      limit #{page.offset,jdbcType=INTEGER},#{page.limit,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="getAppMethodListNum" resultType="java.lang.Integer" parameterType="map">
    select count(*) from app_method where status = #{status,jdbcType=TINYINT}
    <if test="appId != null" >
      and app_id = #{appId,jdbcType=INTEGER}
    </if>
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.yaojiafeng.exportgateway.dal.entity.AppMethod" >
    update app_method
    <set >
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="methodId != null" >
        method_id = #{methodId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findByAppIdAndMethodId" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"/>
    from app_method
    where app_id = #{appId,jdbcType=INTEGER} and method_id = #{methodId,jdbcType=INTEGER}
  </select>

</mapper>